.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e113";
    float: right;
    color: grey;
}
.panel-heading a.collapsed:after {
    content:"\e114";
}

.product-data {


}
.product-header{
    font-weight: bold;
    font-size: larger;
    margin: 5px;
}
.productRow {

}

.productRowAlternate {
    background: rgb(240,240,240);
}
