.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e113";
    float: right;
    color: fff;
}
.panel-heading a.collapsed:after {
    content:"\e114";
}

.product-header {
    font-weight: bold;
    font-size: larger;
    margin: 5px;
}

.productRowAlternate {
    background: rgb(220,220,240);
}
